body {
    font-family: 'IBM Plex Serif', serif;

}

/*nav ul li {
    list-style-type: square;
    border-style: solid;
    border-color: c9008d;
}
nav ul li a {
    text-decoration: none;
    color: black;
}*/

ul {
    list-style-type: none;
    padding: 0px;
}

header{
    grid-column: 1/4;
    background-color:gold;
    text-align-last: center;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

 img {
     height: 100;
     width: 1000;
     float: right;
}

aside {
    grid-column: 3/4;
    background-color: gold; 
    text-align: center;
}
.sports {

}

footer {
    grid-column: 1/4;
    background-color: gold;
    text-align: center;
}

.underline {
    text-decoration: underline;
    background-color: bisque;
}

#courses {
    width: 25%;
}

p { 
    font-size: 10px;
    width: 50%;
 }

 .navbar {
    position: absolute;
    top: 164%; 
    right: 0;
    transform: translateY(-50%); 
    width: 200px; 
    background-color:gold;
    padding: 20px;
}

.nav-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    color: #333;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-item:hover {
    background-color:bisque;
    color: #333; 
    text-decoration: none; 
}
@media screen and (max-width: 768px) {
    .navbar {
        position: static; 
        width: 100%; 
    } 
}