body {
    font-family: 'IBM Plex Serif', serif;

}

nav ul li {
    list-style-type: square;
    border-style: solid;
    border-color: c9008d;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0px;
}
a {
    text-decoration: none;
}
header{
    grid-column: 1/4;
    background-color:gold;
    text-align-last: center;
    padding: 20px;
    font-family: 'Tenor Sans', sans-serif;
    ;
    font-size: 20px;
}
 img {
     height: 100;
     width: 1000;
     float: right;
}
aside {
    grid-column: 3/4;
    background-color: gold; 
    text-align: center;
}
footer {
    grid-column: 1/4;
    background-color: gold;
    text-align: center;
}
.underline{
    text-decoration: underline;
    background-color: bisque;
}
#courses {
    width: 25%;
}
p { 
    font-size: 10px;
    width: 50%;
 }
 .navbar {
    position: absolute;
    top: 164%; /* Vertically center the navbar */
    right: 0;
    transform: translateY(-50%); /* Adjust for vertical centering */
    width: 200px; /* Adjust the width as needed */
    background-color:gold;
    padding: 20px;
}

.nav-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    border-radius: 5px;
    color: #333;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added color transition */
}

.nav-item:hover {
    background-color:bisque;
    color: #333; /* Change the text color back to its original color */
    text-decoration: none; /* Remove the underline */
}
@media screen and (max-width: 768px) {
    .navbar {
        position: static; /* Reset position for small screens */
        width: 100%; /* Full width for small screens */
    }
}